body,
html {
  height: 100%;
  margin: 0;
}
.hero.is-fullheight-with-navbar {
  background: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}
.hero-body {
  align-items: flex-start;
}
.title {
  color: white;
}
.subtitle {
  color: white;
}
.social-icons {
  color: white;
  margin-bottom: 2rem;
}
.navbar-menu {
  justify-content: flex-end;
}
.profile-pic {
  border-radius: 50%;
  margin-top: 2rem;
}
.button.is-light {
  border: 2px solid white;
  color: white;
}
.button.is-light:hover {
  background: white;
  color: #4a4a4a;
}
